.Header{
    height: 60px;
    background-color: white;
    // border-bottom: 1px solid rgb(153, 153, 153);

    .cHeader{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .nameLogo{
            display: flex;
            gap: 10px;
            align-items: center;
            height: 100%;

            strong{
                color: #940757 !important;
                font-size: 24px;
            }
            span{
                color: #D86A23;
            }
        }

        img{
            width: 80px;
            height: 40px;
            object-fit: cover;
        }
        nav{
            display: flex;
            align-items: center;
            gap: 30px;
            a{
                white-space: nowrap;
                width: 100%;
            }
        }
    }
}