.CardConection {
    cursor: pointer;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 6px 10px 3px rgba(224, 224, 224, 1);
    -moz-box-shadow: 2px 6px 10px 3px rgba(224, 224, 224, 1);
    box-shadow: 2px 6px 10px 3px rgba(224, 224, 224, 1);
    display: flex;
    gap: 30px;
    position: relative;
    right: 0;

    &:hover{
        right: -10px;
        transition: right 0.2s ease-out;
    }


    img {
        width: 250px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        h1 {
            font-size: 24px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
        }

        .description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;
        }

        .dimensions {
            display: flex;
            gap: 10px;

        }
        .btn{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .cScore{
            display: flex;
            align-items: end;
            gap: 10px;

            p{
                font-weight: 600;
            }
        }
        
        .score{
            width: 50px;
            height: 30px;
            border-radius: 5px;
            background-color: #D86A23;
            display: grid;
            place-items: center;
            color: white;
            font-size: 14px;
            font-weight: 600;
        }
    }



}