.secundary{
    min-width: 150px;
    white-space: nowrap;
    height: 40px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    background: #940757 ;
    color: white;
    font-size: 14px;
    font-weight: 600;

}