.optionalButton{
    min-width: 150px;
    // width: 100%;
    white-space: nowrap;
    height: 40px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    background: white ;
    color: #940757;
    font-size: 14px;
    font-weight: 600;

}